li{
    border-bottom:2px solid black;
    font-size:2rem;
    list-style-type:none;
    text-decoration:none;
    
}

a{
    text-decoration:none;
    color:aqua;
    font-weight:bold;
}

body{
    background-color:rgb(222, 124, 5);
}

#filter-input{
    width:100%;
    height:35px;
    font-size:20px;
    font-weight:bold;
}